@import "tailwindcss";

@theme {
    --color-background: #18181B;
    --color-background-dark: #121214;
    --color-foreground: #1F1F23;
    --color-highlight: #B153D7;
    --color-text: #FAFAFA;
    --color-subtext: #A1A1AA;
    --font-sanchez: "Sanchez", serif;
    --font-archivo: "Archivo Black", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text)
}